{% load static %}
{% load tailwind_tags %}
{% load django_htmx %}
{% tailwind_css %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'src/styles.css' %}" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                Pulp
            {% endblock title %}
        </title>
    </head>
    <body hx-header='{"x-csrftoken": "{{ csrf_token }}"}'>
        <header>
            <h1>
                <a href="{% url 'home' %}" id="home">Pulp</a>
            </h1>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>
