{% extends "src/base.html" %}
{% block title %}
    {{ category }}
{% endblock title %}
{% block content %}
    <h2>Comics</h2>
    {% include "partials/filter_options.html" with genre_list=genres %}
    <main id="books">
        {% include "partials/book_card.html" with books=books %}
    </main>
{% endblock content %}
{% block scripts %}
    <script>
        document.querySelector('.mobile-filter-toggle').addEventListener('click', function() {
            document.querySelector('.filters').classList.toggle('active');
        });
    </script>
{% endblock scripts %}
