{% extends "src/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Pulp - Cart
{% endblock title %}
{% block content %}
    {% partialdef cart_items inline %}
    <div id="cart-container">
        {% if not cart_items_and_forms %}
            <p>
                Your cart is empty. <a href="{% url 'home' %}">Start shopping</a> now to add items to your cart
            </p>
        {% else %}
            <p>Subtotal: ${{ request.session.subtotal_price }}</p>
            <form action="{% url 'cart_update' %}" method="post">
                {% csrf_token %}
                <button type="submit" name="action" value="clear">Clear cart</button>
            </form>
            {% for item, form in cart_items_and_forms %}
                <a href="{% url 'product_detail' item.sku.public_id %}?f={{ item.sku.format|lower }}">
                    <p>{{ item.sku.book.title }}</p>
                    <p>By {{ item.sku.book.authors.all|join:", " }}</p>
                    <p>{{ item.sku.format }}</p>
                </a>
                <form action="{% url 'cart_update' %}" method="post" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="sku_id" value="{{ item.sku.public_id }}">
                    {% if item.quantity > 1 %}
                        <button type="button"
                                name="action"
                                value="subtract"
                                hx-post="{% url 'cart_update' %}"
                                hx-target="#cart-container"
                                hx-swap="innerHTML">-</button>
                    {% else %}
                        <button type="button"
                                name="action"
                                value="delete"
                                hx-post="{% url 'cart_update' %}"
                                hx-target="#cart-container"
                                hx-swap="innerHTML">-</button>
                    {% endif %}
                    {{ form.quantity }}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="button"
                            name="action"
                            value="add"
                            hx-post="{% url 'cart_update' %}"
                            hx-target="#cart-container"
                            hx-swap="innerHTML">+</button>
                    {% if item.quantity > item.sku.quantity %}Copies have exceeded stock quantity!{% endif %}
                    <button type="button"
                            name="action"
                            value="delete"
                            hx-post="{% url 'cart_update' %}"
                            hx-target="#cart-container"
                            hx-swap="innerHTML">Delete</button>
                </form>
                {% if item.sku.has_discount %}
                    <p>{{ item.sku.discount_percent }}% OFF!</p>
                    <p>
                        <del>${{ item.sku.price_usd }}</del> ${{ item.sku.discounted_price }}
                    </p>
                {% else %}
                    <p>${{ item.sku.price_usd }}</p>
                {% endif %}
                <hr>
            {% endfor %}
            <a href="">Proceed to checkout</a>
        {% endif %}
    </div>
{% endpartialdef %}
{% endblock content %}
{% block scripts %}
    <script>
        document.querySelectorAll('.quantity-input').forEach(input => {
            // submit when clicking away
            input.addEventListener('blur', function() {
                this.form.submit();
            });
        });
    </script>
{% endblock scripts %}
