{% extends "src/base.html" %}
{% block title %}
    Pulp - Hot Deals
{% endblock title %}
{% block content %}
    <!-- HOT DEALS -->
    <main class="flex-grow bg-white">
        <div class="max-w-[1440px] mx-auto px-6 lg:px-10 py-8" id="books">
            <div class="flex flex-col lg:flex-row gap-10">
                <!-- Sticky Sidebar Filters -->
                <!-- Product Grid -->
                <div class="flex-1">{% include 'partials/book_grid.html' %}</div>
            </div>
        </div>
    </main>
{% endblock content %}
