<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pulp</title>
    </head>
    <body>
        {% if user.is_authenticated %}
        <h1>Welcome {{user}}</h1>
        {% endif %}

        <h2>Comic</h2>
        <ul>
            {% for comic in comic_list %}
            <li>
                <a href="{% url 'book_detail' comic.series|slugify comic.id %}"
                    >{{ comic.title }}</a
                >
            </li>
            {% empty %}
            <p>No comic is available.</p>
            {% endfor %}
        </ul>

        <h2>Manga</h2>
        <ul>
            {% for manga in manga_list %}
            <li>
                <a
                    href="{% url 'book_detail' pk=manga.id slug=manga.series.title|slugify %}"
                    >{{ manga.title }}</a
                >
            </li>
            {% empty %}
            <p>No manga is available.</p>
            {% endfor %}
        </ul>
    </body>
</html>
