<!doctype html>
<html lang="en">
    <head>
        {% load static %}

        <link rel="stylesheet" href="{% static 'src/styles.css' %}" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pulp</title>
    </head>
    <body>
        {% if user.is_authenticated %}
        <h1>Welcome {{user}}</h1>
        {% endif %}

        <h3>Trending</h3>
        <h3>Hot Deals</h3>
        <h3>Featured</h3>

        <h3>Comic New Releases</h3>
        <ul>
            {% for comic in comic_list %}
            <li>
                <a href="{% url 'book_detail' comic.series|slugify comic.id %}"
                    >{{ comic.title }}</a
                >
            </li>
            {% empty %}
            <p>No comic is available.</p>
            {% endfor %}
        </ul>

        <h3>Manga New Releases</h3>
        <ul>
            {% for manga in manga_list %}
            <li>
                <a
                    href="{% url 'book_detail' pk=manga.id slug=manga.series.title|slugify %}"
                    >{{ manga.title }}</a
                >
            </li>
            {% empty %}
            <p>No manga is available.</p>
            {% endfor %}
        </ul>
        <h3>Comic Bestselling</h3>
        <h3>Manga Bestselling</h3>
    </body>
</html>
