{% extends "src/base.html" %}
{% block title %}
    Sign In
{% endblock title %}
{% block content %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <legend>
            <h3>Login to continue your purchase</h3>
        </legend>
        <table>
            {% for field in form %}
                {{ field.errors }}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Login" />
    </form>
    <a href="https://google.com">Sign in with Google</a>
    <p>
        New to Pulp? <a href="{% url 'signup' %}">Create Account</a>
    </p>
{% endblock content %}
