{% extends "src/base.html" %}
{% block title %}
    Manga
{% endblock title %}
{% block content %}
    <ul>
        {% for manga_sku in mangas %}
            <a href="{% url 'product_detail' slug=manga_sku.isbn_number pk=manga_sku.id %}?f={{ manga_sku.format|lower }}">
                <li>{{ manga_sku.book.title }}</li>
                <li>${{ manga_sku.price_usd }}</li>
                <li>{{ manga_sku.format }}</li>
            </a>
            <hr>
        {% endfor %}
    </ul>
{% endblock content %}
