{% extends "src/base.html" %}
{% block title %}
    Sign Up
{% endblock title %}
{% block content %}
    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <legend>
            <h3>
                New to Pulp? Register with us and make your first
                purchase
            </h3>
        </legend>
        <table>
            <tr>
                <td>{{ form.email.label_tag }}</td>
                <td>{{ form.email }}</td>
            </tr>
            <tr>
                <td>{{ form.password1.label_tag }}</td>
                <td>{{ form.password1 }}</td>
                <td>{{ form.password1.help_text }}</td>
            </tr>
            <tr>
                <td>{{ form.password2.label_tag }}</td>
                <td>{{ form.password2 }}</td>
                <td>{{ form.password2.help_text }}</td>
            </tr>
        </table>
        <input type="submit" value="Sign up" />
    </form>
    <a href="https://google.com">Sign up with Google</a>
    <p>
        Already have an account? <a href="{% url 'login' %}">Login</a>
    </p>
{% endblock content %}
