{% extends "src/base.html" %}
{% block title %}
    Sign Up
{% endblock title %}
{% block content %}
    <!-- Main Content Area -->
    <main class="flex-grow flex items-center justify-center p-4 sm:p-6 lg:p-8">
        <!-- Login Card -->
        <div class="w-full max-w-[480px] bg-white border-2 border-slate-900 p-8 sm:p-12 rounded-lg">
            <div class="flex flex-col gap-2 mb-10 text-center">
                <h2 class="text-4xl sm:text-5xl font-bold text-slate-900 tracking-tight">REGISTER NOW</h2>
            </div>
            <form class="flex flex-col gap-6"
                  onsubmit="event.preventDefault();"
                  action="{% url 'login' %}"
                  method="post"
                  novalidate>
                {% csrf_token %}
                <!-- Email Input -->
                <label class="flex flex-col gap-2">
                    <span class="text-sm font-bold uppercase tracking-wider text-slate-900 dark:text-slate-200">Email Address</span>
                    <div class="relative group">
                        <div class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none text-slate-400 group-focus-within:text-primary transition-colors">
                            <span class="material-symbols-outlined text-[20px]">mail</span>
                        </div>
                        {{ form.username }}
                        <!-- <input class="input-field"
        id="email"
        placeholder="JANE@EXAMPLE.COM"
        type="email" /> -->
                    </div>
                </label>
                <!-- Password Input -->
                <label class="flex flex-col gap-2">
                    <div class="flex justify-between items-center">
                        <span class="text-sm font-bold uppercase tracking-wider text-slate-900 dark:text-slate-200">Password</span>
                    </div>
                    <div class="relative group">
                        <div class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none text-slate-400 group-focus-within:text-primary transition-colors">
                            <span class="material-symbols-outlined text-[20px]">lock</span>
                        </div>
                        <!-- <input class="input-field"
        id="password"
        placeholder="••••••••"
        type="password" /> -->
                        {{ form.password1 }}
                    </div>
                </label>
                <!-- Password2 Input -->
                <label class="flex flex-col gap-2">
                    <div class="flex justify-between items-center">
                        <span class="text-sm font-bold uppercase tracking-wider text-slate-900 dark:text-slate-200">Confirm Password</span>
                    </div>
                    <div class="relative group">
                        <div class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none text-slate-400 group-focus-within:text-primary transition-colors">
                            <span class="material-symbols-outlined text-[20px]">lock</span>
                        </div>
                        <!-- <input class="input-field"
        id="password"
        placeholder="••••••••"
        type="password" /> -->
                        {{ form.password2 }}
                    </div>
                </label>
                <div class="mt-4 flex flex-col gap-4">
                    <button class="flex w-full items-center justify-center h-12 rounded bg-primary hover:bg-primary-dark text-white text-base font-bold tracking-wide transition-all duration-200">
                        Create Account
                    </button>
                    <div class="text-center">
                        <span class="text-gray-500 text-sm font-body">Already a member?</span>
                        <a class="text-black font-bold border-b-2 border-black hover:text-primary hover:border-primary transition-colors text-sm uppercase tracking-wide"
                           href="{% url 'login' %}">Log in</a>
                    </div>
                </div>
                <div class="relative flex py-2 items-center mt-2"></div>
            </form>
        </div>
    </main>
{% endblock content %}
