{% load pulp_tags %}
{# partials/book_list.html #}
{% for book_sku in books %}
    <a href="{% url 'product_detail' book_sku.isbn_number|slugify book_sku.id %}?f={{ book_sku.format|lower }}">
        <div class="book-sku-card">
            <h5>{{ book_sku.book.title }}</h5>
            <p>by {{ book_sku.book.authors.all|join:", " }}</p>
            <p>
                Series: <a href="{% url 'series_detail' book_sku.book.series.id %}">{{ book_sku.book.series.title }}</a>
            </p>
            <p>{{ book_sku.format }}</p>
            {% if book_sku.has_discount %}
                <p>{{ book_sku.discount_percent }}% OFF!</p>
                <p>
                    <del>${{ book_sku.price_usd }}</del> ${{ book_sku.discounted_price }}
                </p>
            {% else %}
                <p>${{ book_sku.price_usd }}</p>
            {% endif %}
            {% to_stars book_sku.book.average_rating %}
            <span class="text-xs text-gray-500">{{ book_sku.book.reviewer_count }} reviews</span>
        </div>
    </a>
    <form action="{% url 'cart' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="sku_id" value="{{ book_sku.id }}">
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit"
                hx-post="{% url 'cart' %}"
                hx-target="#cart-count"
                hx-swap="innerHTML"
                hx-indicator="#page-loader">Add to Cart</button>
    </form>
    <hr>
{% empty %}
    <p>No books available</p>
{% endfor %}
