<div class="max-w-[1440px] mx-auto px-6 lg:px-10 py-8" id="books">
    <div class="flex flex-col lg:flex-row gap-10">
        <!-- Sticky Sidebar Filters -->
        {% include 'partials/sidebar_filter.html' with genres=genres publishers=publishers price_range=price_range %}
        <!-- Product Grid Area -->
        <div class="flex-1">
            <!-- Header Section -->
            <div class="flex flex-col md:flex-row justify-between items-end md:items-center mb-8 gap-4">
                <div>
                    <h2 class="text-3xl md:text-4xl font-bold text-text-main mb-2">
                        {% if page_title == 'Results for' %}
                            {{ page_title }} <span class="text-primary">"{{ query }}"</span>
                        {% else %}
                            {{ category }} {{ page_title }}
                        {% endif %}
                    </h2>
                </div>
                {% include 'partials/sort.html' with selected_sort=selected_sort %}
            </div>
            <!-- Grid -->
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
                <!-- Product Cards -->
                {% for book_sku in page %}
                    <div class="group flex flex-col gap-3">{% include 'partials/base_book_card.html' with book_sku=book_sku %}</div>
                {% empty %}
                    <p class="text-center text-text-muted-light dark:text-text-muted-dark">No books available</p>
                {% endfor %}
            </div>
            <!-- Pagination -->
            <div class="flex justify-center mt-16">
                <div class="flex gap-2">
                    {% if page.number != 1 %}
                        <a href="{% querystring page=page.previous_page_number %}"
                           class="size-10 flex items-center justify-center rounded border border-gray-200 hover:border-primary text-text-main hover:text-primary transition-colors">
                            <span class="material-symbols-outlined text-sm">arrow_back_ios_new</span>
                        </a>
                        <a href="{% querystring page=1 %}"
                           class="size-10 flex items-center justify-center rounded border border-gray-200 hover:border-primary text-text-main hover:text-primary transition-colors font-medium">1
                        </a>
                    {% endif %}
                    {% if page.has_previous %}
                        {% if page.previous_page_number != 1 %}
                            <a href="{% querystring page=page.previous_page_number %}"
                               class="size-10 flex items-center justify-center rounded border border-gray-200 hover:border-primary text-text-main hover:text-primary transition-colors font-medium">
                                {{ page.previous_page_number }}
                            </a>
                        {% endif %}
                    {% endif %}
                    <button class="size-10 flex items-center justify-center rounded bg-primary text-white font-bold">
                        {{ page.number }}
                    </button>
                    {% if page.has_next %}
                        <a href="{% querystring page=page.next_page_number %}"
                           class="size-10 flex items-center justify-center rounded border border-gray-200 hover:border-primary text-text-main hover:text-primary transition-colors font-medium">
                            {{ page.next_page_number }}
                        </a>
                    {% endif %}
                    {% if page.paginator.num_pages > page.next_page_number %}
                        <span class="size-10 flex items-center justify-center text-text-muted">...</span>
                    {% endif %}
                    {% if page.number != page.paginator.num_pages %}
                        {% if page.next_page_number != page.paginator.num_pages %}
                            <a href="{% querystring page=page.paginator.num_pages %}"
                               class="size-10 flex items-center justify-center rounded border border-gray-200 hover:border-primary text-text-main hover:text-primary transition-colors font-medium">
                                {{ page.paginator.num_pages }}
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if page.has_next %}
                        <a href="{% querystring page=page.next_page_number %}"
                           class="size-10 flex items-center justify-center rounded border border-gray-200 hover:border-primary text-text-main hover:text-primary transition-colors">
                            <span class="material-symbols-outlined text-sm">arrow_forward_ios</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
