<div class="max-w-[1440px] mx-auto px-6 lg:px-10 py-8" id="books">
    <div class="flex flex-col lg:flex-row gap-10">
        <!-- Sticky Sidebar Filters -->
        {% include 'partials/sidebar_filter.html' with genres=genres publishers=publishers price_range=price_range %}
        <!-- Product Grid Area -->
        <div class="flex-1">
            <!-- Header Section -->
            <div class="flex flex-col md:flex-row justify-between items-end md:items-center mb-8 gap-4">
                <div>
                    <h2 class="text-3xl md:text-4xl font-bold text-text-main mb-2">{{ category }} {{ page_title }}</h2>
                    <p class="text-text-muted">Updated weekly.</p>
                </div>
                {% include 'partials/sort.html' with selected_sort=selected_sort %}
            </div>
            <!-- Grid -->
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
                <!-- Product Cards -->
                {% for book_sku in book_list %}
                    <div class="group flex flex-col gap-3">{% include 'partials/base_book_card.html' with book_sku=book_sku %}</div>
                {% empty %}
                    <p class="text-center text-text-muted-light dark:text-text-muted-dark">No books available</p>
                {% endfor %}
            </div>
            <!-- Pagination -->
            <div class="flex justify-center mt-16">
                <div class="flex gap-2">
                    <button class="size-10 flex items-center justify-center rounded border border-gray-200 hover:border-primary text-text-main hover:text-primary transition-colors">
                        <span class="material-symbols-outlined text-sm">arrow_back_ios_new</span>
                    </button>
                    <button class="size-10 flex items-center justify-center rounded bg-primary text-white font-bold">1</button>
                    <button class="size-10 flex items-center justify-center rounded border border-gray-200 hover:border-primary text-text-main hover:text-primary transition-colors font-medium">
                        2
                    </button>
                    <button class="size-10 flex items-center justify-center rounded border border-gray-200 hover:border-primary text-text-main hover:text-primary transition-colors font-medium">
                        3
                    </button>
                    <span class="size-10 flex items-center justify-center text-text-muted">...</span>
                    <button class="size-10 flex items-center justify-center rounded border border-gray-200 hover:border-primary text-text-main hover:text-primary transition-colors font-medium">
                        12
                    </button>
                    <button class="size-10 flex items-center justify-center rounded border border-gray-200 hover:border-primary text-text-main hover:text-primary transition-colors">
                        <span class="material-symbols-outlined text-sm">arrow_forward_ios</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
