{# partials/filter_options.html #}
<div class="shop-layout">
    <aside class="filters">
        <button class="mobile-filter-toggle">Filters</button>
        <form hx-get="{% url 'book_list' category=category|slugify %}"
              hx-target="#books"
              hx-swap="innerHTML"
              hx-push-url="true"
              hx-trigger="change delay:500ms">
            <h4>Genres</h4>
            {% for genre in genres %}
                <label>
                    <input type="checkbox"
                           name="g"
                           value="{{ genre.id }}"
                           {% if genre.id in selected_genres %}checked{% endif %}>
                    {{ genre.name }}
                </label>
            {% endfor %}
            <h4>Format</h4>
            <select name="f">
                <option value="">All Formats</option>
                {% for format in formats %}
                    <option value="{{ format }}"
                            {% if format == selected_format %}selected{% endif %}>{{ format|capfirst }}</option>
                {% endfor %}
            </select>
            <!-- FEATURED -->
            <label>
                <input type="checkbox" name="featured" value="true">
                Feaured Only
            </label>
            <!-- LATEST RELEASE -->
            <label>
                <input type="checkbox"
                       name="r"
                       value="true"
                       {% if 'true' == latest_release %}checked{% endif %}>
                Latest Release (7 Days)
            </label>
            <!-- SORT -->
            <h4>Sort By</h4>
            <select name="sort">
                <option value="">Default</option>
                <option value="price_desc"
                        {% if 'price_desc' == selected_sort %}selected{% endif %}>Price: High to Low</option>
                <option value="price_asc"
                        {% if 'price_asc' == selected_sort %}selected{% endif %}>Price: Low to High</option>
                <option value="bestselling"
                        {% if 'bestselling' == selected_sort %}selected{% endif %}>Bestselling</option>
                <option value="reviews"
                        {% if 'reviews' == selected_sort %}selected{% endif %}>Reviews</option>
            </select>
        </form>
    </aside>
</div>
