{# partials/filter_options.html #}
<nav hx-target="#books" hx-swap="innerHTML" hx-push-url="true">
    <p>Genres</p>
    <ul>
        {% for genre in genre_list %}
            <li>
                <a hx-get="?genre={{ genre|lower }}" href="?genre={{ genre|lower }}">{{ genre }}</a>
            </li>
        {% endfor %}
    </ul>
    <p>Format</p>
    <ul>
        <a hx-get="?format=hardcover" href="?format=hardcover">Hardcover</a>
        <a hx-get="?format=paperback" href="?format=paperback">Paperback</a>
        <a hx-get="?format=digital" href="?format=digital">Digital</a>
    </ul>
    <p>Featured</p>
    <ul>
        <a hx-get="?is_featured=true" href="?is_featured=true">Yes</a>
        <a hx-get="?is_featured=false" href="?is_featured=false">No</a>
    </ul>
    <ul id="sort">
        <a hx-get="">Price: High to Low</a>
        <a hx-get="">Price: Low to High</a>
        <a hx-get="">Release date</a>
        <a hx-get="">Bestselling</a>
        <a hx-get="">Reviews</a>
    </ul>
</nav>
