<div class="flex items-center gap-2">
        <span class="text-sm font-medium text-[#88636d]">Sort by:</span>
        <select hx-get="{{ request.path }}"
                hx-target="#books"
                hx-swap="innerHTML"
                hx-trigger="change delay:500ms"
                name="sort"
                class="bg-transparent border border-[#e5dcde] dark:border-[#3a2e32] rounded-lg text-sm font-medium py-2 pl-3 pr-8 focus:ring-primary focus:border-primary cursor-pointer">
                <option value="">Default</option>
                <option value="newest_first"
                        {% if 'newest_first' == selected_sort %}selected{% endif %}>Newest Arrivals</option>
                <option value="price_asc"
                        {% if 'price_asc' == selected_sort %}selected{% endif %}>Price: Low to High</option>
                <option value="price_desc"
                        {% if 'price_desc' == selected_sort %}selected{% endif %}>Price: High to Low</option>
                <option value="reviews"
                        {% if 'reviews' == selected_sort %}selected{% endif %}>Ratings</option>
        </select>
</div>
